<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="navbar">歡迎光臨，這是會員頁</div>
    <section class="type1">
    <div id="welcome"></div>
    <a href="/logout">登出系統</a>
    </section>
    
    <hr>
    <section class="type1">
    <h3>快來留言吧</h3>
    <form>
    <div class="form-bar"><label for="msg_content">內容</label><input type="text" name="msg_content" id="msg_content"></div>
    <button name="msg_submitbtn" id="msg_submitbtn">送出</button>
    </form>
    </section>

    <hr>
    <div class="type1" id="message_list"></div>
    <script>
        fetch("/api/auth/status").then(response => response.json()).then(authData => {
            document.getElementById("welcome").innerHTML = `${authData.member_name}，歡迎登入系統`
    
            document.getElementById('msg_submitbtn').addEventListener('click', function(){
            const msg_content = document.getElementById('msg_content').value;
            const payload_mc = {content:msg_content}
            fetch('/api/message',{
                method:'POST',
                headers:{'Content-Type': 'application/json'},
                body: JSON.stringify(payload_mc)
            }).then(response => response.json())
            .then(data => {window.location.reload();})
            })
            //
            fetch('/api/message').then(response => response.json())
            .then(result => {
                const container = document.getElementById("message_list");
                container.innerHTML = '';
                let messages = result.data;
                for(let n=0; n<messages.length;n++){
                    let newDiv = document.createElement('div')
                    newDiv.innerHTML = `${messages[n].name}: ${messages[n].content}`; //必須使用反引號//vs .textContent
                    newDiv.className = "message_list";

                    let newDel = document.createElement('button')
                    newDel.innerHTML = "&times;";
                    newDel.className = "message_del";
                    newDel.id = `message${messages[n].id}`

                    if(authData.member_id == messages[n].member_id){
                        container.appendChild(newDiv).appendChild(newDel);
                    } else {
                        container.appendChild(newDiv);
                    }
                }

                const delbtns = document.querySelectorAll(".message_del")
                for(let n=0; n<delbtns.length; n++){
                    delbtns[n].addEventListener('click',function(event){
                        const beforeDel = confirm("確定要刪除這則訊息嗎?");
                        if (!beforeDel) {
                            event.preventDefault();
                            return;
                        };
                        const delbtn_id = this.id.slice(7);
                        fetch(`/api/message/${delbtn_id}`,{
                            method:"DELETE"
                        }).then(response => response.json()).then(result => {
                            window.location.reload();}) //messageDiv.remove()
                    })
                }
            })
        })
    </script>
    
</body>
</html>